* {
  font-family: "JetBrains Mono", monospace;
  padding: 1px 4px;
  color: white;
}

window#waybar {
  font-size: 14px;
  color: white;
  font-weight: normal;
  background: rgba(0, 0, 0, 0);
  border-radius: 40px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#battery,
#clock,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#mpd,
#custom-launcher,
#temperature,
#idle_inhibitor,
#custom-power {
  color: white;
  min-width: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: #24283b;
  margin: 9 9px;
}

#backlight {
  margin: 9 0px;
  min-width: 20px;
}

#custom-launcher {
  padding-left: 3px;
}

.value {
  border-radius: 0 20px 20px 0;
  color: white;
  background-color: #24283b;
  padding-right: 15px;
  margin-left: 0;
  font-weight: bold;
}

.icon {
  border-radius: 20px 0 0 20px;
  color: white;
  background-color: #24283b;
  padding-left: 10px;
  margin-right: 0;
}


label:focus {
  background-color: #000;
}

#battery.warning.charging * {
  color: white;
}

#battery.critical * {
  color: #e06c75;
}

#tags button {
  background-color: #24283b;
  color: white;
  border-radius: 15px;
  margin: 0 3px;
}

#tags button.occupied {
  margin: 0 3px;
  background-color: #194aac;
}

#tags button.focused {
  color: #000;
  margin: 0 3px;
  background-color: white;
}

#tags button.urgent {
  color: red;
  margin: 0 3px;
  background-color: white;
}

/*BORDER RADIUS*/
#custom-launcher,
#cpu,
#disk,
#memory {
  border-radius: 10px;
}

#clock,
#network,
#pulseaudio,
#custom-power {
  border-radius: 10px;
}

#network.format-disconnected {
  background-color: red;
}

#custom-launcher,
#custom-power {
  font-size: 15px;
}

#pulseaudio {
  padding: 0 10px;
}

#battery {
  padding: 0 10px;
}

#workspaces {
  border-radius: 10px;
  font-size: 15px;
  background-size: 400% 400%;
  background-color: #24283b;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 0px 10px;
}

#workspaces button.active * {
  color: #8c322b;
}


#mpd {
  background: transparent;
  font-size: 12px;
}
