* {
  font-family: "JetBrainsMono", monospace;
  font-size: 14px;
  color: white;
  padding: 0;
  margin: 0;
}

window#waybar {
  font-size: 14px;
  color: white;
  font-weight: normal;
  background: rgba(0, 0, 0, 0);
  border-radius: 40px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#battery,
#clock,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#mpd,
#custom-launcher,
#temperature,
#idle_inhibitor,
#workspaces,
#tray,
#custom-power {
  color: white;
  min-width: 20px;
  border-radius: 10px;
  background-color: #24283b;
  padding: 4 7px;
  margin: 0 9px;
  margin-top: 5px;
}


/* Backlight */

#backlight {
  color: white;
  min-width: 20px;
  background-color: #24283b;
  margin-top: 5px;
}

.value {
  border-radius: 0 10px 10px 0;
  color: white;
  margin-left: 0;
  background-color: #24283b;
  font-weight: bold;
  padding-right: 10px;
}

.icon {
  border-radius: 10px 0 0 10px;
  color: white;
  background-color: #24283b;
  padding-left: 2px;
}

/**/

#battery.warning.charging * {
  color: white;
}

#battery.critical * {
  color: #e06c75;
}

#network.format-disconnected {
  background-color: red;
}

#custom-launcher,
#custom-power {
  font-size: 15px;
}

#pulseaudio {
  padding: 0 10px;
}

#battery {
  padding: 0 10px;
}

#workspaces {
  border-radius: 10px;
  background-color: #24283b;
  border-radius: 1000px;
}

#workspaces button {
  padding: 0px;
  margin: 0px;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#workspaces button.active * {
  color: #8c322b;
}
